body{
   background-image:url("../images/sysbg.png");
}

.loginBody{
   background-image: url("../images/bgbg.jpg");
   background-size: cover;
   background-repeat: no-repeat;

   height: auto;
}

nav{
   background-color: #181f2a;
   padding-right: 90px;
}

.navbar-brand{
   color: #FFFFFF;
   font-weight: bold;
   font-size: 25px;

}

h6.nav-link{
   color: #FFFFFF;
}

a.nav-link {
   color: #FFFFFF;
}

a.nav-link {
   color: #FFFFFF;
}


#dropdownMenuButton1{
   color: white;
   margin-top: 14px;
}

#logo{
   padding-right: 10px !important;
   width: 75px;
   height: 55px;
}

#logincontainer{
   max-width: 30%;
}

#signupcontainer{
   max-width: 40%;
}

#selectsignup{
   border-radius: 30px;
   width: 70%;
}

#selectlogin {
   border-radius: 30px;
   width: 70%;
}
#selectsupport{
   border-radius: 30px;
   width: 60%;
}

#selectstatus{
   border-radius: 30px;
   width: 100%;
}

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500');


/* Toggle Styles */

#viewport {


}

#content {
   margin-top: 10px;
   width:1200px;
   background-color: white;
   height: 550px;
   padding-bottom: 10px;
}

/* Sidebar Styles */

#sidebar {

}

#sidebar header {
   background-color: #A2C5E7;
   font-size: 20px;
   line-height: 52px;
   text-align: center;
}

#sidebar header p {

}
#demo {
   width:250px;
   padding:0px;
}

#sidebar header a:hover {
   color: #fff;
}

#sidebar .nav{

}

#sidebar .nav{
   background: white;
   color: #CFD8DC;
   font-size: 15px;
}

#navblue{
   background: #AAD6FF;
   width: 100%;
   display: block;
}

.nav-link {
   margin-top: 15px;
   margin-bottom: 15px;
   padding: 15px;
}

.nav-item {
   display: block;
}



#navblue:hover{
   background: #224375;
   color: #FFFFFF;
   transition: .2s;
}

#navwhite:hover{
   background: #224375;
   color: #FFFFFF;
   transition: .2s;
}

#sidebar .nav a:hover{
   background: none;
   color: #ECEFF1;
   transition: .1s;
}

#sidebar .nav-link{
   color: black;
   font-weight: bold;
}

#navbarright{
   background-color: transparent;
}

i{
   color: black;
}

/* Creating Ticket*/

#ticketcard{
   width:500px;
}



.card-header{
   height: 45px;
   }


/* content container */

#content-container{

}

/* tableDesign */

table{
   background-color: transparent;
   border-collapse: collapse;
   border-spacing: 0;
   width: auto;
   margin-bottom: 20px;
   border: 2px;
   margin-top: 20px;
   table-layout: fixed;
   position: relative;
}

thead {
   background-color: #224375;
   border-radius: 50px;
   color: white;
}


#logincontainer {
   background-color: white;

}
#signupcontainer {
   background-color: white;
   border-radius: 10px;
}

#hamburgerbutton{
   width: 60px;
   height: 60px;
}

#hamburgericon {
   color:white;
   font-size: 30px;
   margin:0px;
}

table td {
   text-overflow: ellipsis;
   overflow: hidden;
   white-space: nowrap;
}

#email {
    margin-top:7px;
 }
#name {
   margin-top:7px;
}

#pwd {
   margin-top:7px;
}

#cnfrmpwd {
   margin-top:7px;
}




